#book-hero {
    height: 100vh;
    background-image: url('img/book/book-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#book-type-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

#book-type-top div {
    flex-basis: 49%;
}

#book-type-exploration-1 img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    border: solid 1px var(--text-color);
}

#book-type-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#book-type-gallery {
    padding-bottom: 20px;
}

#book-spreads-copy {
    text-align: center;
    padding-bottom: 40px;
}

#book-spreads-gallery {
    gap: 20px;
    padding-bottom: 20px;
}

#book-spreads-gallery img {
    height: 100%;
}

/* =============
    Tablet
============= */
@media (max-width: 1200px) {
    #book-spreads-gallery {
        flex-direction: column;
        /* gap: 10px; */
    }

    #book-spreads-gallery img {
        height: 100%;
    }
}

/* =============
    Mobile
============= */

@media (max-width: 810px) {
    #book-hero {
        background-position: left;
    }

    #book-type-top {
        flex-direction: column-reverse;
    }

    #book-type-text {
        padding-bottom: 20px;
    }

    #book-spreads-gallery {
        gap: 10px;
        padding-bottom: 10px;
    }
}