/* =============
    Imports
============= */
@import "index.css";
@import "book.css";
@import "man-ray.css";
@import "navigation.css";
@import "footer.css";


/* =============
    Colors
============= */
:root {
    --background-color: #FFFEFD;
    --text-color: #0b001e;
    --accent-color: #c03c3f;

    /* width: 100vw; */
    /* display: flex;
    flex-direction: column;
    max-width: 1200px;
    overflow-x: hidden;
    justify-content: center; */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);

    
}

/* =============
    Base
============= */

.grid-container {
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". container .";
    /* justify-content: center;
    justify-items: center; */
}

.grid-container .content {
    grid-area: container;
    max-width: 100%;
}

.content-spacing {
        padding: 80px 0 0;
    
}

/* banner */
.banner-image {
    display: grid;
    grid-template-columns: auto 100% auto;
    grid-template-areas: ". banner .";
}

.banner-image .banner-content {
    grid-area: banner;
}

.banner-image .banner-content img {
    height: 80vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* 2 column flex  */
.column-2-flex {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-2-flex div {
    flex-basis: 49%;
}
.column-2-flex img {
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    border: solid 1px var(--text-color);
}


/* cards */
.gallery-cards-meta {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}


/* =============
    Typography
============= */

h1,
h2,
h3,
h4,
h5 {
    font-family: "Xanh Mono", monospace;
    line-height: 130%;
    font-weight: 400;
    margin:0;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 52px;
    font-style: italic;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 24px;
}

h6,
p {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

a {
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    color: var(--text-color);
}

a:active,
a:hover {
    transition: .25s;
    color: var(--accent-color);
}

.button {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);

    border: solid 1px var(--text-color);
    padding: 15px 40px;
    border-radius: 30px;
    background-color: rgb(255 254 253 / 40%);

    -webkit-backdrop-filter: blur(4px);

    backdrop-filter: blur(4px);

    transition: .25s;
}

.button:hover {
    transition: .25s;
    /* border: solid 1px var(--accent-color); */
    font-weight: 600;
    /* background-color: rgb(192 60 63 / 40%); */
}

/* =============
    Global Styles
============= */
ul {
    list-style: none;
}